.cell {
  flex: 0 0 calc(20% - 0.8px);
  height: 380px;
  background-color: #1a1a1a;
  position: relative;
  box-sizing: border-box;
}

.cell._active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 4s forwards;
  z-index: 2;
}

.cell._before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 4s forwards;
  z-index: 2;
}

.cell._after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 4s forwards;
  z-index: 2;
}

.cell__number {
  position: absolute;
  top: 17px;
  left: 10px;
  font-family: 'klavika';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  z-index: 3;
}

.cell__name {
  position: absolute;
  top: 47px;
  left: 10px;
  font-family: 'klavika';
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  z-index: 3;
}

@keyframes dissapear {
  from {
    background: #1a1a1a;
  }
  to {
    opacity: 0;
  }
}