.about {
    font-family: 'klavika', sans-serif;
    background-color: #fff;
    position: relative;
    animation: in 1s forwards;
    top: 0;
}

@keyframes in {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}

.about__cover {
    width: 100%;
    height: 478px;
    object-fit: cover;
}

.content__text {
    max-width: 1040px;
    padding: 120px 80px 113px;
    margin: 0 auto;
}

.content__title {
    margin: 0 0 71px;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 72px;
    line-height: 0.8;
    text-transform: uppercase;
}

.content__paragraph {
    margin: 37px 0 0;
    max-width: 880px;
    font-family: 'droid', sans-serif;
    font-size: 20px;
    line-height: 1.85;
    color: #666;
}

.content__paragraph:first-child {
    margin-top: 0;
}

.content__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    width: 225px;
    height: 80px;
    border: 2px solid #000;
}

.content__link:hover {
    background-color: #000;
}

.about__info {
    padding: 104px 0 0;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data__item {
    list-style: none;
    padding: 0 40px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.data__item:first-child {
    border-left: 0;
    padding-left: 0;
}

.data__item:last-child {
    padding-right: 0;
}

.item__title {
    font-family: 'droid', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 2.4;
}

.item__value {
    font-family: 'klavika', sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 1;
    color: #1a1a1a;
}

.social_about {
    margin-top: 109px;
    max-width: fit-content;
    margin-left: auto;
}

.social__item_about {
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}

.social__follow {
    font-family: 'klavika', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 40px;
    color: #666;
}
