.menu__link {
    display: block;
    font-family: 'klavika', serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    padding: 30px 0 0 45px;
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: #fff;
}