.footer {
    width: 100%;
}

.footer__icon {
    font-family: 'klavika', serif;
    width: 25px;
    height: 25px;
    height: 80px;
}

.footer__privacy {
    font-weight: 400;
    color: #666;
    font-size: 14px;
    margin: 0;
    padding: 20px 0 20px 15px;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #484848;
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Droid', sans-serif;
    line-height: 36px;
    font-weight: 700;
    color: #666;
    transition: all 0.2s ease 0s;
    transform-origin: center;
}

.footer__item:hover {
    color: #fff;
    background-color: #427197;
}

.footer__info {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #333;
}