.footer {
    width: 100%;
}

.footer__icon {
    font-family: 'klavika', serif;
    width: 25px;
    height: 25px;
    height: 80px;
}

.footer__privacy {
    font-family: 'droid', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 18px 20px;
}

.footer__privacy-link {
    color: inherit;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #484848;
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Droid', sans-serif;
    line-height: 36px;
    font-weight: 700;
    color: #666;
    transition: all 0.2s ease 0s;
    outline: none;
}

.social__item:hover {
    color: #fff;
    background-color: #427197;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.footer__social {
    border: 1px solid #333;
}