.cell {
  min-width: 302px;
  height: 380px;
  background-color: #1a1a1a;
  position: relative;
}

.cell._active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 302px;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 3s forwards;
}

.cell._before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 302px;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 3s forwards;
}

.cell._after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 302px;
  height: 380px;
  background-color: #1a1a1a;
  animation: dissapear 3s forwards;
}

@keyframes dissapear {
  from {
    background: #1a1a1a;
  }
  to {
    opacity: 0;
  }
}