.table {
    font-family: 'klavika', serif;
    color: #fff;
    width: 100%;
    padding: 0 60px;
    position: relative;
    animation: in 1s forwards;
    top: 0;
}

@keyframes in {
    from {
        top: 100vw;
    }
    to {
        top: 0;
    }
}

.table__row {
    min-height: 105px;
}

.table__row_title {
    min-height: fit-content;
}

.table__title {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2.52px;
    text-transform: uppercase;
    line-height: 1;
}

.table__title_time {
    width: 15%;
    padding-bottom: 15px;
}

.table__title_open {
    width: 41%;
    padding-bottom: 15px;
}

.table__title_address {
    width: 220px;
    padding-bottom: 25px;
}

.table__title_contact {
    width: 210px;
}

.table__time {
    display: inline-block;
    width: 15%;
    font-weight: 700;
    font-size: 6vw;
    line-height: 0.68;
    text-transform: uppercase;
    padding-right: 3%;
    margin: 0 0 25px;
    vertical-align: top;
    position: relative;
}

.table__time._closed {
    color: #272727;
}

.table__time._closed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    right: 0;
    border-bottom: 1px solid #272727;
}

.table__open {
    display: inline-block;
    width: 41%;
    font-weight: 700;
    font-size: 6vw;
    line-height: 0.68;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 25px;
    vertical-align: top;
    position: relative;
}

.table__open._closed {
    color: #272727;
}

.table__open._closed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2px;
    right: 5px;
    border-bottom: 1px solid #272727;
}

.table__contact {
    display: inline-block;
    font-family: 'droid', serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.table__contact_address {
    display: inline-block;
    width: 220px;
    padding-right: 28px;
    padding-bottom: 25px;
    vertical-align: top;
}

.table__contact_contact {
    width: 210px;
    padding: 0;
    vertical-align: top;
}

@media (max-width: 1190px) {

    .table__row {
        min-height: 80px;
    }

    .table__row_title {
        min-height: fit-content;
    }

    .table__title_address {
        width: 175px;
    }

    .table__title_contact {
        width: 190px;
    }

    .table__time {
        padding-right: 3%;
        margin: 0 0 25px;
    }

    .table__open {
        padding-right: 0;
        margin: 0 0 25px;
    }

    .table__contact_address {
        width: 175px;
        font-size: 12px;
        line-height: 17px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .table__contact_contact {
        width: 190px;
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 15px;
    }
}