.table {
    font-family: 'klavika', serif;
    color: #fff;
    max-width: 1250px;
    padding: 0 0 0 55px;
}

.table__contact {
    font-family: 'driod', serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    max-width: 175px;
}

.table__row {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.table__office {
    display: flex;
    font-weight: 700;
    font-size: 92px;
    text-transform: uppercase;
    line-height: 62px;
    min-width: 770px;
    margin: 0;
    position: relative;
}

.table__office::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    border-bottom: 1px solid #fff;
}

.table__time {
    margin: 0 35px 0 0;
}

.table__open {
    max-width: 500px;
}

.table__title_address {
    min-width: 175px;
}

.table__title_office {
    width: 500px;
}

.table__title_time {
    width: 190px;
}

.table__title {
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2.52px;
    text-transform: uppercase;
    line-height: 1;
};