.table {
    font-family: 'klavika', serif;
    color: #fff;
    width: 100%;
    padding: 0 60px;
}

.table__title {
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2.52px;
    text-transform: uppercase;
    line-height: 1;
};

.table__title_time {
    width: 15%;
    padding-bottom: 15px;
}

.table__title_open {
    width: 41%;
    padding-bottom: 15px;
    padding-right: 80px;
}

.table__title_address {
    width: 280px;
    padding-bottom: 15px;
}

.table__title_contact {
    width: 210px;
}

.table__time {
    width: 15%;
    font-weight: 700;
    font-size: 6vw;
    line-height: 0.68;
    text-transform: uppercase;
    padding-right: 3%;
    margin: 0 0 25px;
}

.table__open {
    width: 41%;
    font-weight: 700;
    font-size: 6vw;
    line-height: 0.68;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 25px;
}

.table__contact {
    font-family: 'driod', serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.table__contact_address {
    width: 220px;
    padding-right: 28px;
    padding-bottom: 30px;
}

.table__contact_contact {
    width: 210px;
    padding: 0;
}

.table__row {
    display: flex;
    min-height: 105px;
}

.table__row_title {
    min-height: fit-content;
}

@media (max-width: 1190px) {

    .table__title_address {
        width: 220px;
    }

    .table__time {
        padding-right: 3%;
        margin: 0 0 25px;
    }

    .table__open {
        padding-right: 0;
        margin: 0 0 25px;
    }

    .table__contact_address {
        width: 175px;
        font-size: 12px;
        line-height: 17px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .table__contact_contact {
        width: 190px;
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 15px;
    }
}

/* .table__office::before:not(:first-child) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    border-bottom: 1px solid #fff;
} */